:root {
  --type-serif: "Piazzolla", serif;
  --type-caps: "Piazzolla SC", serif;
  --type-mono: "Hack", monospace;
  --type-size: 18px;
  --type-weight: 400;
  --type-height: 1.4;
  --type-numeric: oldstyle-nums proportional-nums;
  --color-particles-text: var(--cust-light-green);
  --color-particles-background: var(--cust-brown);
}

html,
html[data-theme="light"] {
  --color-background: var(--cust-brown);
  --color-text: var(--oc-teal-8);
  --color-heading: var(--oc-teal-8);
  --color-link: var(--oc-blue-8);
  --color-chunk: var(--oc-teal-8);
  --color-mark: var(--oc-yellow-3);
  --color-border: var(--oc-teal-4);
  --color-button: var(--oc-teal-6);
}

html[data-theme="dark"] {
  --color-background: var(--oc-teal-9);
  --color-text: var(--oc-teal-3);
  --color-heading: var(--oc-teal-3);
  --color-link: var(--oc-blue-3);
  --color-chunk: var(--oc-teal-8);
  --color-mark: var(--oc-teal-8);
  --color-border: var(--oc-teal-7);
  --color-button: var(--oc-teal-7);
}
